.header{
  margin: 0 -20px;
  background-image: url('../public/_2f3320be-1f36-491a-af4e-b886d9263c89.jpg');
    background-position: bottom;
    /*background-size: cover;*/
    background-attachment: fixed;
    height: 430px;
}

.body-content{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: 'main' 'side';
}


@media (max-width: 768px) {
  .body-content {
    grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
    grid-template-areas: 
      "side"
      "main";
  }
}